.App {
  text-align: center;
  margin: 20px;
}

textarea {
  margin-bottom: 10px;
  padding: 10px;
}

button {
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

select {
  margin-bottom: 20px;
  padding: 10px;
}
